@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

/* Basic */

	body, input, select, textarea {
		color: white;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15pt;
		font-weight: 300 !important;
		letter-spacing: -0.025em;
		line-height: 1.75em;
	}

	body {
		background: white;
	}

	a {
		border-bottom: dotted 1px;
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

		a:hover {
			border-color: transparent;
		}

/* Icon */

	.icon {
		position: relative;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* BG */

	#bg {
		/* Set your background with this */
		background: #348cb2 url("bg.jpg") bottom left;
		height: 100%;
		left: 0;
		position: fixed;

		background-size: auto;
		width: 100%;
		top: 0;
	}

/* Main */

	#main {
		height: 100%;
		left: 0;
		text-align: center;
		top: 0;
		width: 100%;
	}

		#main:before {
			content: '';
			display: inline-block;
			height: 100%;
			margin-right: 0;
			vertical-align: middle;
			width: 1px;
		}

/* Headshot */
img#headshot {
	  background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width:200px;
    height: 200px;
}

/* Header */
	#header {
		cursor: default;
		display: inline-block;
		position: relative;
		text-align: center;
		top: -1em;
		vertical-align: middle;
		width: 90%;
	}

		#header h1 {
			font-size: 4.35em;
			font-weight: 900;
			letter-spacing: -0.035em;
			line-height: 1em;
		}

		#header p {
			font-size: 1.25em;
			margin: 0.75em 0 0.25em 0;
			opacity: 0.75;
		}

		#header nav {
			margin: 1.5em 0 0 0;
		}

			#header nav li {
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				position: relative;
				top: 0;
				width: 5.35em;
			}

			#header nav a {
				border: 0;
				display: inline-block;
			}

				#header nav a:before {
					border-radius: 100%;
					border: solid 1px white;
					display: block;
					font-size: 1.75em;
					height: 2.5em;
					line-height: 2.5em;
					position: relative;
					text-align: center;
					top: 0;
					width: 2.5em;
				}

				#header nav a:hover {
					font-size: 1.1em;
				}

					#header nav a:hover:before {
						background-color: rgba(255, 255, 255, 0.175);
						color: white;
					}

				#header nav a:active {
					font-size: 0.95em;
					background: none;
				}

					#header nav a:active:before {
						background-color: rgba(255, 255, 255, 0.35);
						color: white;
					}

				#header nav a span {
					display: none;
				}

/* Footer */
	
	#footer {
		position: relative;
	}
	
	#footer-text {
		height: 3em;
		bottom: 0;
		position: absolute;
		line-height: 4em;
		width: 100%;
	}